body{
    background-size: cover;
    background-position: 50%;
}

.chess_board{
    margin-top: 80px;
    margin-left:100px;
    border-collapse:collapse;
    background-color:white;}
table tr:nth-child(odd) td:nth-child(odd){
    background-color: red;}
table tr:nth-child(even) td:nth-child(even){
    background-color: orangered;}
td {
    border-color: orangered;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}
