.chess_board{
    width: 60%;
    border-collapse:collapse;
    background-color:darkred;}
table tr:nth-child(odd) td:nth-child(odd){
    background-color: #FEFDBD;}
table tr:nth-child(even) td:nth-child(even){
    background-color: #FEFDBD;}
td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}
